Repository CM22007-Group29/AudioApp, pull requests merged in 2025-03, with the labels that each got.

#67 Added label checking in action
  .github/workflows/ci.yml
  backend/Dockerfile
Labels: devops

#71 fixing pipeline tests
  backend/instance/coursework.db
  backend/tests/__init__.py
  backend/tests/test_audioprocessor.py
Labels: bug, backend

#73 cleaning up databases
  .gitignore
  backend/coursework.db
  backend/instance/coursework.db
Labels: bug, backend

#68 Adding worker onto updated backend & adding relevant API endpoints
  .gitignore
  backend/AudioProcessor.py
  backend/Dockerfile
  backend/__init__.py
  backend/__main__.py
  backend/app/__init__.py
  backend/app/models.py
  backend/app/routes.py
  backend/tests/__init__.py
  backend/tests/processed_output.mp3
  backend/tests/test_audioprocessor.py
  backend/tests/test_processed_normalized.mp3
  backend/tests/test_worker.py
  backend/word_removal.py
  backend/worker.py
  docker-compose.dev.yml
  docker-compose.test.yml
  docker-compose.yml
  frontend/package-lock.json
  frontend/src/components/audio_remove/file_upload/FileUploadButton.tsx
  uploads/audio_input.mp3
Labels: frontend, backend

#34 WIP Added audio context provider with transport controls
  frontend/public/audio_input.mp3
  frontend/src/App.tsx
  frontend/src/components/AudioProvider.tsx
  frontend/src/components/ProgressBar.tsx
  frontend/src/components/Transport.tsx
  frontend/src/components/Waveform.css
  frontend/src/components/Waveform.tsx
  frontend/src/components/audio_remove/AudioEditor.tsx
  frontend/src/components/nav/Nav.tsx
Labels: frontend

#77 api testing
  backend/app/__init__.py
  backend/app/models.py
  backend/app/routes.py
  backend/app/uploads/audio_input.mp3
  backend/app/uploads/processed_output.mp3
  backend/app/uploads/test_audio.mp3
  backend/tests/test_api.py
Labels: frontend, backend

#61 Switched to statement based coverage
  backend/.coveragerc
Labels: devops

#75 Added login system
  frontend/src/App.tsx
  frontend/src/components/Login.tsx
  frontend/src/components/nav/Nav.tsx
  frontend/src/context/AuthProvider.tsx
  frontend/src/main.tsx
Labels: frontend

#74 Frontend area to input user preferences
  frontend/src/App.tsx
  frontend/src/components/audio_remove/EditPage.tsx
  frontend/src/components/audio_remove/user_preferences/NormalisationCheckbox.tsx
  frontend/src/components/audio_remove/user_preferences/SilenceLengthSlider.tsx
  frontend/src/components/audio_remove/user_preferences/SilenceThresholdSlider.tsx
Labels: frontend

#82 81 add frontend endpoints
  backend/app/models.py
  backend/app/routes.py
  frontend/src/services/audioService.ts
  frontend/src/services/userService.ts
  frontend/src/types/Audio.ts
  frontend/src/types/AudioProcessing.ts
  frontend/src/types/UserPreferences.ts
Labels: frontend

#83 76 integrate backend with frontend login
  backend/__main__.py
  backend/app/__init__.py
  backend/app/models.py
  backend/app/routes.py
  backend/requirements.txt
  frontend/src/services/auth.ts
  frontend/src/services/authService.ts
Labels: frontend, backend

#78 Upgrading STT systems robustness and accuracy
  backend/AudioProcessor.py
  backend/STT.py
  backend/requirements.txt
  backend/tests/audio_extended1.mp3
  backend/tests/audio_extended2.mp3
  backend/tests/audio_extended3.mp3
  backend/tests/audio_extended4.mp3
  backend/tests/extended_out1.mp3
  backend/tests/test_audioprocessor.py
  backend/tests/test_processed1.mp3
  backend/tests/test_processed2.mp3
  backend/tests/test_processed3.mp3
  backend/tests/test_processed4.mp3
  backend/word_removal.py
  frontend/package-lock.json
  frontend/package.json
  package-lock.json
Labels: backend

#84 Word timestamp retrieval function
  backend/AudioProcessor.py
  backend/STT.py
  backend/app/routes.py
  backend/app/uploads/audio_extended3.mp3
  backend/requirements.txt
  backend/tests/test_api.py
  backend/tests/test_audioprocessor.py
  backend/word_removal.py
  backend/worker.py
Labels: backend

#86 Added SBOM
  .github/workflows/push_main.yml
  docker-compose.test.yml
  docker-compose.yml
Labels: devops
